@import './utilities.scss';
@import './flex.scss';
@import './images.scss';
@import './colors.scss';
@import './menu.scss';
@import './scroll.scss';
@import './sal.css';
@import './text.scss';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;900&display=swap');

$myFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
    font-family: $myFont;
    max-width: 1400px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p {
    font-family: $myFont;
}
